<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbsstep.dao.TCityMapper">
<select id="getCityByName" parameterType="string"  resultType="tCity">
  Select * from t_cities WHERE city =#{value}
</select>



</mapper>